/*
 * Kestra EE
 * All API operations allow an optional tenant identifier in the HTTP path, if you don't use multi-tenancy you must omit the tenant identifier.<br/> This means that, for example, when trying to access the Flows API, instead of using <code>/api/v1/{tenant}/flows</code> you must use <code>/api/v1/flows</code>.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.api.sdk.api;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.api.sdk.internal.ApiException;
import io.kestra.api.sdk.internal.ApiClient;
import io.kestra.api.sdk.internal.BaseApi;
import io.kestra.api.sdk.internal.Configuration;
import io.kestra.api.sdk.internal.Pair;

import io.kestra.api.sdk.model.AuditLogControllerAuditLogDiff;
import io.kestra.api.sdk.model.AuditLogControllerAuditLogWithUser;
import io.kestra.api.sdk.model.AuditLogControllerFindRequest;
import io.kestra.api.sdk.model.CrudEventType;
import java.time.OffsetDateTime;
import io.kestra.api.sdk.model.PagedResultsAuditLogControllerAuditLogWithUser;
import io.kestra.api.sdk.model.Permission;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-12-31T15:48:45.246126227Z[Etc/UTC]", comments = "Generator version: 7.11.0-SNAPSHOT")
public class AuditLogsApi extends BaseApi {

  public AuditLogsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AuditLogsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get the diff of an audit log
   * 
   * @param id The id of the audit log (required)
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff diff(String id) throws ApiException {
    return this.diff(id, Collections.emptyMap());
  }


  /**
   * Get the diff of an audit log
   * 
   * @param id The id of the audit log (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff diff(String id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling diff");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/auditlogs/{id}/diff"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<AuditLogControllerAuditLogDiff> localVarReturnType = new TypeReference<AuditLogControllerAuditLogDiff>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get the diff of an audit log
   * 
   * @param id The id of the audit log (required)
   * @param tenant  (required)
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff diff1(String id, String tenant) throws ApiException {
    return this.diff1(id, tenant, Collections.emptyMap());
  }


  /**
   * Get the diff of an audit log
   * 
   * @param id The id of the audit log (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff diff1(String id, String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling diff1");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling diff1");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/{id}/diff"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<AuditLogControllerAuditLogDiff> localVarReturnType = new TypeReference<AuditLogControllerAuditLogDiff>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Find audit logs
   * 
   * @param auditLogControllerFindRequest  (required)
   * @return AuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogWithUser find(AuditLogControllerFindRequest auditLogControllerFindRequest) throws ApiException {
    return this.find(auditLogControllerFindRequest, Collections.emptyMap());
  }


  /**
   * Find audit logs
   * 
   * @param auditLogControllerFindRequest  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogWithUser find(AuditLogControllerFindRequest auditLogControllerFindRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = auditLogControllerFindRequest;
    
    // verify the required parameter 'auditLogControllerFindRequest' is set
    if (auditLogControllerFindRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'auditLogControllerFindRequest' when calling find");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/auditlogs/find";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<AuditLogControllerAuditLogWithUser> localVarReturnType = new TypeReference<AuditLogControllerAuditLogWithUser>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Find audit logs
   * 
   * @param tenant  (required)
   * @param auditLogControllerFindRequest  (required)
   * @return AuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogWithUser find27(String tenant, AuditLogControllerFindRequest auditLogControllerFindRequest) throws ApiException {
    return this.find27(tenant, auditLogControllerFindRequest, Collections.emptyMap());
  }


  /**
   * Find audit logs
   * 
   * @param tenant  (required)
   * @param auditLogControllerFindRequest  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogWithUser find27(String tenant, AuditLogControllerFindRequest auditLogControllerFindRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = auditLogControllerFindRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling find27");
    }
    
    // verify the required parameter 'auditLogControllerFindRequest' is set
    if (auditLogControllerFindRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'auditLogControllerFindRequest' when calling find27");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/find"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<AuditLogControllerAuditLogWithUser> localVarReturnType = new TypeReference<AuditLogControllerAuditLogWithUser>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param permission A permission filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @return PagedResultsAuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerAuditLogWithUser search1(Integer page, Integer size, String q, List<String> sort, String namespace, String flowId, String executionId, String userId, String id, Permission permission, OffsetDateTime startDate, OffsetDateTime endDate, Map<String, String> details, CrudEventType type) throws ApiException {
    return this.search1(page, size, q, sort, namespace, flowId, executionId, userId, id, permission, startDate, endDate, details, type, Collections.emptyMap());
  }


  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param permission A permission filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerAuditLogWithUser search1(Integer page, Integer size, String q, List<String> sort, String namespace, String flowId, String executionId, String userId, String id, Permission permission, OffsetDateTime startDate, OffsetDateTime endDate, Map<String, String> details, CrudEventType type, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling search1");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling search1");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/auditlogs/search";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("userId", userId));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
    localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("details", details));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<PagedResultsAuditLogControllerAuditLogWithUser> localVarReturnType = new TypeReference<PagedResultsAuditLogControllerAuditLogWithUser>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param permission A permission filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @return PagedResultsAuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerAuditLogWithUser search6(Integer page, Integer size, String tenant, String q, List<String> sort, String namespace, String flowId, String executionId, String userId, String id, Permission permission, OffsetDateTime startDate, OffsetDateTime endDate, Map<String, String> details, CrudEventType type) throws ApiException {
    return this.search6(page, size, tenant, q, sort, namespace, flowId, executionId, userId, id, permission, startDate, endDate, details, type, Collections.emptyMap());
  }


  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param permission A permission filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAuditLogControllerAuditLogWithUser
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerAuditLogWithUser search6(Integer page, Integer size, String tenant, String q, List<String> sort, String namespace, String flowId, String executionId, String userId, String id, Permission permission, OffsetDateTime startDate, OffsetDateTime endDate, Map<String, String> details, CrudEventType type, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling search6");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling search6");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling search6");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("userId", userId));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
    localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("details", details));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<PagedResultsAuditLogControllerAuditLogWithUser> localVarReturnType = new TypeReference<PagedResultsAuditLogControllerAuditLogWithUser>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
