/*
 * Kestra EE
 * All API operations allow an optional tenant identifier in the HTTP path, if you don't use multi-tenancy you must omit the tenant identifier.<br/> This means that, for example, when trying to access the Flows API, instead of using <code>/api/v1/{tenant}/flows</code> you must use <code>/api/v1/flows</code>.
 *
 * The version of the OpenAPI document: v1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.AbstractBindingControllerBindingDetail;
import io.kestra.sdk.model.Binding;
import io.kestra.sdk.model.BindingType;
import io.kestra.sdk.model.PagedResultsAbstractBindingControllerBindingDetail;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-06-05T07:35:23.657005690Z[Etc/UTC]", comments = "Generator version: 7.14.0-SNAPSHOT")
public class BindingsApi extends BaseApi {

  public BindingsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public BindingsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Create multiple bindings
   *
   * @param tenant  (required)
   * @param binding The bindings (required)
   * @return List&lt;AbstractBindingControllerBindingDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AbstractBindingControllerBindingDetail> bulkCreateBinding(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull List<Binding> binding) throws ApiException {
    return this.bulkCreateBinding(tenant, binding, Collections.emptyMap());
  }


  /**
   * Create multiple bindings
   *
   * @param tenant  (required)
   * @param binding The bindings (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;AbstractBindingControllerBindingDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AbstractBindingControllerBindingDetail> bulkCreateBinding(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull List<Binding> binding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = binding;

    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling bulkCreateBinding");
    }

    // verify the required parameter 'binding' is set
    if (binding == null) {
      throw new ApiException(400, "Missing the required parameter 'binding' when calling bulkCreateBinding");
    }

    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/bindings/bulk"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<AbstractBindingControllerBindingDetail>> localVarReturnType = new TypeReference<List<AbstractBindingControllerBindingDetail>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create multiple bindings
   *
   * @param resourceTenant  (required)
   * @param binding The bindings (required)
   * @return List&lt;AbstractBindingControllerBindingDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AbstractBindingControllerBindingDetail> bulkCreateBindingapsSuperAdmin(@javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nonnull List<Binding> binding) throws ApiException {
    return this.bulkCreateBindingapsSuperAdmin(resourceTenant, binding, Collections.emptyMap());
  }


  /**
   * Create multiple bindings
   *
   * @param resourceTenant  (required)
   * @param binding The bindings (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;AbstractBindingControllerBindingDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AbstractBindingControllerBindingDetail> bulkCreateBindingapsSuperAdmin(@javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nonnull List<Binding> binding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = binding;

    // verify the required parameter 'resourceTenant' is set
    if (resourceTenant == null) {
      throw new ApiException(400, "Missing the required parameter 'resourceTenant' when calling bulkCreateBindingapsSuperAdmin");
    }

    // verify the required parameter 'binding' is set
    if (binding == null) {
      throw new ApiException(400, "Missing the required parameter 'binding' when calling bulkCreateBindingapsSuperAdmin");
    }

    // create path and map variables
    String localVarPath = "/api/v1/tenants/{resourceTenant}/bindings/bulk"
      .replaceAll("\\{" + "resourceTenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(resourceTenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<AbstractBindingControllerBindingDetail>> localVarReturnType = new TypeReference<List<AbstractBindingControllerBindingDetail>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create a binding
   *
   * @param tenant  (required)
   * @param binding The binding (required)
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail createBinding(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull Binding binding) throws ApiException {
    return this.createBinding(tenant, binding, Collections.emptyMap());
  }


  /**
   * Create a binding
   *
   * @param tenant  (required)
   * @param binding The binding (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail createBinding(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull Binding binding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = binding;

    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createBinding");
    }

    // verify the required parameter 'binding' is set
    if (binding == null) {
      throw new ApiException(400, "Missing the required parameter 'binding' when calling createBinding");
    }

    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/bindings"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<AbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create a binding
   *
   * @param resourceTenant  (required)
   * @param binding The binding (required)
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail createBindingapsSuperAdmin(@javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nonnull Binding binding) throws ApiException {
    return this.createBindingapsSuperAdmin(resourceTenant, binding, Collections.emptyMap());
  }


  /**
   * Create a binding
   *
   * @param resourceTenant  (required)
   * @param binding The binding (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail createBindingapsSuperAdmin(@javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nonnull Binding binding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = binding;

    // verify the required parameter 'resourceTenant' is set
    if (resourceTenant == null) {
      throw new ApiException(400, "Missing the required parameter 'resourceTenant' when calling createBindingapsSuperAdmin");
    }

    // verify the required parameter 'binding' is set
    if (binding == null) {
      throw new ApiException(400, "Missing the required parameter 'binding' when calling createBindingapsSuperAdmin");
    }

    // create path and map variables
    String localVarPath = "/api/v1/tenants/{resourceTenant}/bindings"
      .replaceAll("\\{" + "resourceTenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(resourceTenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<AbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete a binding
   *
   * @param id The binding id (required)
   * @param tenant  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteBinding(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant) throws ApiException {
    this.deleteBinding(id, tenant, Collections.emptyMap());
  }


  /**
   * Delete a binding
   *
   * @param id The binding id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteBinding(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteBinding");
    }

    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteBinding");
    }

    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/bindings/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {

    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Delete a binding
   *
   * @param id The binding id (required)
   * @param resourceTenant  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteBindingapsSuperAdmin(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String resourceTenant) throws ApiException {
    this.deleteBindingapsSuperAdmin(id, resourceTenant, Collections.emptyMap());
  }


  /**
   * Delete a binding
   *
   * @param id The binding id (required)
   * @param resourceTenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteBindingapsSuperAdmin(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String resourceTenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteBindingapsSuperAdmin");
    }

    // verify the required parameter 'resourceTenant' is set
    if (resourceTenant == null) {
      throw new ApiException(400, "Missing the required parameter 'resourceTenant' when calling deleteBindingapsSuperAdmin");
    }

    // create path and map variables
    String localVarPath = "/api/v1/tenants/{resourceTenant}/bindings/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "resourceTenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(resourceTenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {

    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get a binding
   *
   * @param id The binding id (required)
   * @param tenant  (required)
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail getBinding(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.getBinding(id, tenant, Collections.emptyMap());
  }


  /**
   * Get a binding
   *
   * @param id The binding id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail getBinding(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getBinding");
    }

    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getBinding");
    }

    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/bindings/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<AbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a binding
   *
   * @param id The binding id (required)
   * @param resourceTenant  (required)
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail getBindingapsSuperAdmin(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String resourceTenant) throws ApiException {
    return this.getBindingapsSuperAdmin(id, resourceTenant, Collections.emptyMap());
  }


  /**
   * Get a binding
   *
   * @param id The binding id (required)
   * @param resourceTenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public AbstractBindingControllerBindingDetail getBindingapsSuperAdmin(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String resourceTenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getBindingapsSuperAdmin");
    }

    // verify the required parameter 'resourceTenant' is set
    if (resourceTenant == null) {
      throw new ApiException(400, "Missing the required parameter 'resourceTenant' when calling getBindingapsSuperAdmin");
    }

    // create path and map variables
    String localVarPath = "/api/v1/tenants/{resourceTenant}/bindings/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "resourceTenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(resourceTenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<AbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for bindings
   *
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param type Binding type filter (optional)
   * @param id External id filter (optional)
   * @param namespace A namespace filter (optional)
   * @return PagedResultsAbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAbstractBindingControllerBindingDetail searchBindings(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable BindingType type, @javax.annotation.Nullable String id, @javax.annotation.Nullable String namespace) throws ApiException {
    return this.searchBindings(page, size, tenant, q, sort, type, id, namespace, Collections.emptyMap());
  }


  /**
   * Search for bindings
   *
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param type Binding type filter (optional)
   * @param id External id filter (optional)
   * @param namespace A namespace filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAbstractBindingControllerBindingDetail searchBindings(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable BindingType type, @javax.annotation.Nullable String id, @javax.annotation.Nullable String namespace, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchBindings");
    }

    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchBindings");
    }

    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchBindings");
    }

    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/bindings/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));

    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<PagedResultsAbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for bindings
   *
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param resourceTenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param type Binding type filter (optional)
   * @param id External id filter (optional)
   * @param namespace A namespace filter (optional)
   * @return PagedResultsAbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAbstractBindingControllerBindingDetail searchBindingsapsSuperAdmin(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable BindingType type, @javax.annotation.Nullable String id, @javax.annotation.Nullable String namespace) throws ApiException {
    return this.searchBindingsapsSuperAdmin(page, size, resourceTenant, q, sort, type, id, namespace, Collections.emptyMap());
  }


  /**
   * Search for bindings
   *
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param resourceTenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param type Binding type filter (optional)
   * @param id External id filter (optional)
   * @param namespace A namespace filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAbstractBindingControllerBindingDetail
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAbstractBindingControllerBindingDetail searchBindingsapsSuperAdmin(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String resourceTenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable BindingType type, @javax.annotation.Nullable String id, @javax.annotation.Nullable String namespace, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchBindingsapsSuperAdmin");
    }

    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchBindingsapsSuperAdmin");
    }

    // verify the required parameter 'resourceTenant' is set
    if (resourceTenant == null) {
      throw new ApiException(400, "Missing the required parameter 'resourceTenant' when calling searchBindingsapsSuperAdmin");
    }

    // create path and map variables
    String localVarPath = "/api/v1/tenants/{resourceTenant}/bindings/search"
      .replaceAll("\\{" + "resourceTenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(resourceTenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));

    localVarHeaderParams.putAll(additionalHeaders);



    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAbstractBindingControllerBindingDetail> localVarReturnType = new TypeReference<PagedResultsAbstractBindingControllerBindingDetail>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
